body {
    background-color: #FEFDED;
}

.main-container {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    padding: 20px;
    background-color: #DFF5FF;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    text-align: left;
    margin-left: 5px;
}

.table-container {
    max-height: 440px;
    overflow-y: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid gray;
    padding: 8px;
}

.login-container {
    width: 180px;
    height: 40px;
    position: relative;
    text-align: center;
    margin-right: 15px;
}

.text {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
}

.button {
    position: absolute;
    height: 30px;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    padding: 0 5px;
    background-color: #fff;
    color: black;
    border: 1px solid #737373;
    border-radius: 5px;
    font-size: 14px;
    line-height: 30px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
}

.center {
    text-align: center;
}
